<!DOCTYPE html>
<html lang="en">
<head>
    {%if not basket %}
    <meta http-equiv="refresh" content="3;{{url_for('store.index')}}">
    {%else%}
    <meta http-equiv="refresh" content="3;{{url_for('store.checkout')}}">
    {%endif%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static',filename='css/loader_style.css')}}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="loader">
        <label>{{message | safe}}</label>
        <label>A Redirecionar...</label>
        <div class="loading"></div>
    </div>
</div>

</body>
</html>